body, html {
    margin: 0;
    padding: 0;
    font-family: 'Geometria', sans-serif;                          
    background-color: #f4f4f4;
}
.container {
    display: flex;
    height: 100vh;
}
.left {
    flex: 1;
    background-color: #05BE50;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    text-align: left;
}
.left h1 {
    align-items: center;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 20px;

}
.left h2 {
    align-items: center;
    font-weight: normal;
    font-size: 15px;
}
#icono{
    width: 74px;
    height: 75px;
}
.left ul {
    list-style: none;
    padding: 0;
}
.left ul li {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

}
.left ul li img {
    margin-right: 10px;
}
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.clogo {
    background: white;
    width: 100%;
    max-width: 1013px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 300px;
}
#logo {
    height: 200px;
    width: 280px;
}
.form-container {
    width: 80%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}
.form-container h3 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: normal;
    color: #10191E

}
.form-container form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-container form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container form button {
    width: 100%;
    padding: 10px;
    background-color: #05BE50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.form-container form button:hover {
    background-color: #007e47;
}
.form-container form .privacy {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.form-container form .privacy input {
    margin-right: 10px;
}
.form-container form .privacy label {
    font-weight: normal;
}
.form-container form .privacy label a {
    color: #05BE50;
    text-decoration: none;
}
.form-container form .privacy label a:hover {
    text-decoration: underline;
}
